.taskbar {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(65, 65, 65);

  .right-side {
    display: flex;
    align-items: center;
    list-style: none;

    .time {    
      color: rgb(255, 255, 255);
      font-size: clamp(1rem, 2vw, 3rem);
    }
  }
}